.dop{
    font-size: 15px;
    margin: 0px;
    color: black;
}
.carta{
    margin-top: 10px;
    height: 500px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.116);
    box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.164);
    border-radius: 20px;
}
@media(max-width:375px){
    .dop{
        font-size: 12px;
        margin: 2px;
    }
    .carta{
        height: 400px;
    }
}