* {
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    z-index: 1000;
    background-color: #000000;
    height: 70px;
    margin: 0px;
    padding: 0px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
    
}
.first{
    margin-left: 60px;
}
.navbar-nav{
    margin-right: 20px;
}
.dropdown{
    font-size: 20px;
}
.burger{
    outline: none;
    box-shadow: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
       
}
.navbar {
    background-color: #000000d7;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 1000;
}
.navbar a,p{
    color: white;
    font-size: 22px;
}
.container-fluid{
    background-color: #000000d7;
}
.dropdown-menu{
    background-color: #000000d7;
    border: none;
}
.container-fluid_post{
    background-color: #00000000;
}
.show{
    background-color: #000000d7;
}
.navbar-brand img{
    background-color: white;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    padding: 0px;
    margin: 0px;
}
.navbar-brand{
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.contact_infomation{
    display: none;
}
.carouselExampleIndicators{
    height: 500px;
}
.carousel_img{
    width: 100%;
    height: 70%;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next:after{
    color: rgb(255, 255, 255);
  }
  .swiper-button-prev:after{
    color: rgb(255, 255, 255);
  }
  .swiper-pagination-bullet-active{
    background-color: rgb(255, 255, 255);
  }

.swiper{
    position: relative;
}
.swiper_infotmation{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.055) 0%, rgba(0, 0, 0, 0.801) 100%);
}

.top_text{
    color: white;
    padding: 2px;
    font-weight: 500;
    font-size: 55px;
    position: absolute;
    bottom: 20%;
    left: 50px;
    width: 70%;
    text-align: left;
}
.button_text{
    background-color: #0000007c;
    color: white;
    position: absolute;
    bottom: 10%;
    left: 50px;
    font-size: 20px;
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
}
.button_text:hover{
    color: white;
    background-color: #00000094;
}

.number_phone{
    display: flex;
    justify-content: end;
    width: auto;
    padding: 0px;
}
.number_phone a{
    width: 160px;
    margin: 2px;
    text-decoration: none;
    font-size: 18px;
}
.noname{
    text-align: center;
    height: 383px;
    width: 315px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid rgba(199, 199, 199, 1);
    border-radius: 20px;
    margin: 30px;
}
.noname img{
    border-radius: 50px;
    margin: 10px;
    width: 100px;
    height: 100px;
}
.noname h3{
    font-weight: bold;
    font-size: 25px;
}
.noname p{
    color: #000000;
    text-align: left;
    font-size: 23px;
}
.container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }
.container h2{
    font-weight: 600;
}
  .book {
    user-select: none;
    z-index: 1000;
  }
.input-group{
    width: 650px;
    margin: 2px auto;
    transition: all 0.1s;
}
.form-control{
    border:1px solid #000000;      
    transition: all 0.2s;
    margin: 0px;
}
.form-control:focus{
    outline:3px solid #00000065;
    border:1px solid #000000;      
}
.book_weidth {
    width: 650px;
    margin: 0px auto;
    background-color: #a1a1a107;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

}
.book_weidth a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding:5px 0px;
    font-size: 20px;
    text-align: left;
}

.angar_img {
    width: 100%;
    margin: 0px;
    text-align: center;
    position: relative;
}
.angar_img h3{
    color: white;
    background-color: #000000;
    font-size: 80px;
    border-radius: 20px;
    height: min-content;
    width: max-content;
    margin: auto;
    margin-top: 15px;
    padding:0px 10px;
}

.angar_img img{
    width: 700px;
    margin: 20px;
    border-radius: 20px;
}
.angar_img p{
    color: #000000;
    text-align: left;
    font-size: 32px;
    padding: 15px;
    margin-top: 30px;
}
.dop_information{
    color: white;
    background-color: #000000d7;
    text-decoration: none;
    font-size: 25px;
    width: auto;
    height: min-content;
    position: absolute;
    bottom: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    left: 20px;
    transition:all 0.5s;
}
.dop_information:hover{
    color: white;
    background-color: #000000b9;
}
.svaz{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    z-index: 1000;
    cursor: pointer;
}
.svaz_one{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    z-index: 900;
    transition:0.5s all;
}
.svaz_two{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    z-index: 900;
    transition:0.5s all;
}
.svaz_form_animate{
    position: fixed;
    bottom: 115px;
    right: 20px;
    width: 80px;
    z-index: 1000;
    transition:0.5s all;
}
.svaz_form_animate_one{
    position: fixed;
    bottom: 210px;
    right: 20px;
    width: 80px;
    height: 80px;
    z-index: 1000;
    transition: 0.5s all;
}
footer a:hover{
    color: white;
    text-decoration: underline white;
}
footer .mb-4, a {
    text-decoration: none;
    text-align: left;
    color: white;
}
footer h6{
    font-weight: 600;
}
footer p{
    margin: 0.5px;
    font-size: 17px;
}

@media(max-width:768px){
    footer .mb-4, a {
        font-size: 16px;
    }
}
@media(max-width:375px){
    footer .mb-4, a {
        font-size: 1rem;
        text-align: center;
    }
}

@media(max-width:900px){
    .dropdown-item{
        font-size: 5px;
    }
    .svaz{
        width: 50px;
    }
    .svaz_one{
        width: 50px;
    }
    .svaz_two{
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        z-index: 900;
        transition:0.5s all;
    }
    .svaz_form_animate{
        position: fixed;
        bottom: 80px;
        right: 20px;
        width: 50px;
        z-index: 1000;
        transition:0.5s all;
    }
    .svaz_form_animate_one{
        position: fixed;
        bottom: 140px;
        right: 20px;
        width: 50px;
        height: 50px;
        z-index: 1000;
        transition: 0.5s all;
    }
    .first{
        margin-top: 60px;
        margin-left: 0px;
    }
    .number_phone{
        display: none;
    }
    .contact_infomation{
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block;
    }
    .contact_infomation a{
        color: black;
        font-weight: 600;
        text-decoration: none;
        font-size: 17px;
    }
    .contact_infomation p{
        margin-bottom: 2px;
        color: black;
        font-size: 10px;
    }
    .container-fluid{
        background-color: rgb(0, 0, 0);
    }
    .swiper-button-next:after{
        display: none;
      }
      .swiper-button-prev:after{
        display: none;
      }
      .swiper-pagination-bullet-active{
        background-color: black;
        scale: 0.5;
      }
      .swiper-pagination-bullet{
        scale: 0.5;
      }
     
      .burger{
        z-index: 5000;
      }
      .top_text{
        color: white;
        font-weight: 600;
        font-size: 20px;
        position: absolute;
        bottom: 8%;
        left: 20px;
        width: 70%;
        text-align: left;
    }
    .button_text{
        background-color: #0000007c;
        color: white;
        position: absolute;
        bottom: 5%;
        left: 20px;
        font-size: 12px;
        padding: 2px 4px;
        border-radius: 20px;
        text-decoration: none;
    }
    .noname{
        text-align: center;
        height: 220px;
        width: 150px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.089);
        border: 2px solid rgba(199, 199, 199, 1);
        border-radius: 20px;
        margin: 5px;
    }
    .noname img{
        border-radius: 50px;
        margin: 10px;
        width: 50px;
        height: 50px;
    }
    .noname h3{
        font-weight: bold;
        font-size: 13px;
    }
    .noname p{
        color: #000000;
        text-align: left;
        font-size: 11px;
        font-weight: 500;
    }
    .navbar {
        background-color: #000000;
    }
    .container-fluid{
        background-color: #000000;
    }
    .dropdown-menu{
        background-color: #000000;
        border: none;
    }
    .input-group{
    width: 100%;
    margin: 2px auto;
    transition: all 0.1s;
    }
    .book_weidth {
        width: 100%;
        margin: 0px auto;
        background-color: #a1a1a107;
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    .angar_img {
        width: 100%;
        margin: 0px auto;
        text-align: center;
        margin-bottom: 10px;
        padding: 2px;
        margin-top: 15px;
    }
    .angar_img h3{
        color: white;
        background-color: #000000;
        font-size: 15px;
        border-radius: 20px;
        height: min-content;
        width: max-content;
        margin:0px auto ;
        margin-top: 3px;
        padding: 0px 5px;
    }
    .angar_img img{
        width: 100%;
        margin: 0px;
        margin-top: 5px;
    }
    .angar_img p{
        color: #000000;
        text-align: left;
        font-size: 11px;
        padding: 0px;
        margin: 0px;
        padding-top: 2px;
    }

    .dop_information{
        color: white;
        background-color: #000000d7;
        text-decoration: none;
        font-size: 10px;
        width: auto;
        height: min-content;
        position: absolute;
        bottom: 5px;
        padding: 2px;
        border-radius: 20px;
        left: 5px;
        transition:all 0.5s;
        margin: 0px;
    }
}