h4{
  font-weight: 600;
}
.row{
  margin: 0px;
  padding: 0px;
}
.card_partner{
  text-align: left;
  -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.116);
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.164);
  width: 270px;
  height: 430px;
  margin: 0px;
  background-color: black;
  padding: 0px;
  border-radius: 20px;
  border: none;
  margin-left: 35px;
  position: relative;
}
.card_partner img{
  width: 100%;
  height: 250px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  background-color: white;
}
.card_partner h5{
  color: white;
  font-size: 25px;
  margin-bottom: 5%;
  font-weight: 600;
}
.card_partner a{
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  padding: 3%;
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.card_partner p{
  font-size: 13px;
}
h1{
  text-align: center;
  margin: 20px;
  font-weight: 600;
}
.osn_information{
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.541);
  width: 90%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.116);
  box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.164);
}
.css_form{
  margin-top: 2%;
  margin-left:20%;
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.116);
  box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.164);
}
.mini{
  font-size: 15px;
  color: black;
  margin-top: 10px;
  max-width: 300px;
}
.ynd{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.116);
  box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.164);
  width: 650px;
  left: 25%;
}
.card_partner{
  transition: scale 0.5s;
}
.card_partner:hover{
  scale: 1.01;
}
@media(max-width:900px){
  .ynd{
    width: auto;
    left: 3%;
  }
  .close{
    z-index: 1000000000000;
    position: fixed;
  }
  .css_form{
    margin-left: 3%;
    width: 95%;
  }
  .text-dark{
    font-size: 15px;
  }
  h1{
      margin: 0px;
      margin-bottom: 5px;
      font-size: 15px;
  }
  .card-body{
    padding: 5px;
    padding-top: 5px;
  }
  .card_partner{
      text-align: center;
      -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.116);
      box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.164);
      width: 150px;
      height: 225px;
      margin: 0px;
      background-color: black;
      padding: 0px;
      border-radius: 20px;
      border: none;
  }
  .card_partner img{
      width: 100%;
      height: 125px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      object-fit: cover;
  }
  .card_partner h5{
      color: white;
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: 600;
      margin-top: 0px;
  }
  .card_partner a{
      background-color: white;
      color: black;
      text-decoration: none;
      border-radius: 20px;
      font-weight: 600;
      font-size: 12px;
  }
  .card_partner p{
      font-size: 9px;
      margin-bottom: 3px;
  }
}


@media(max-width:320px){
  .col{
      padding: 4px;
  }
}